/*****************************
        CSS Reset
*****************************/

@import "reset";
@import "layout";

/*****************************
        Header
*****************************/

.control {
  flex-grow: 1;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.legend {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;

  &-item {
    padding: 20px;
  }
}

/*****************************
        Grid
*****************************/

.grid {
  width: 100%;
  height: 95%;
  display: grid;
  grid-gap: 5px;

  &-cell {
    background: #eee;
    border-radius: 50%;
    transition: 0.3s;

    &-active {
      background: #16a085;
    }

    &-start {
      background: #ffcb05;
    }

    &-end {
      background: #d91e18;
    }

    &-visited {
      background: #444;
    }
  }
}
