/*****************************
        CSS Reset
*****************************/
/*CSS Reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

/*****************************
          Base
*****************************/
body {
  overscroll-behavior: none;
}

a {
  text-decoration: none;
  color: #34495e;
  margin: 5px 10px;
  transition: 0.4s ease;
}
a:visited {
  color: #34495e;
}
a:hover {
  color: #6bb9f0;
}

button:focus {
  outline: 0;
}

/*****************************
          Layout
*****************************/
.container {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  min-width: 300px;
  margin: auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  height: 130px;
  padding: 10px 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}

.grid-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

li {
  padding: 20px;
}

button {
  padding: 10px 15px;
  border-radius: 25px;
  background: #34495e;
  color: #fff;
  border: 0;
  transition: 0.2s;
  font: inherit;
  font-weight: 200;
  font-size: 0.7em;
}
button:hover {
  background: #03c9a9;
}

/*****************************
        Header
*****************************/
.control {
  flex-grow: 1;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.legend {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}
.legend-item {
  padding: 20px;
}

/*****************************
        Grid
*****************************/
.grid {
  width: 100%;
  height: 95%;
  display: grid;
  grid-gap: 5px;
}
.grid-cell {
  background: #eee;
  border-radius: 50%;
  transition: 0.3s;
}
.grid-cell-active {
  background: #16a085;
}
.grid-cell-start {
  background: #ffcb05;
}
.grid-cell-end {
  background: #d91e18;
}
.grid-cell-visited {
  background: #444;
}

/*# sourceMappingURL=main.css.map */
